{{extend 'layout.html'}}
<style>
	#index-header{
	    background-color:rgb(247,247,247);
	    border-bottom:1px solid rgb(225, 225, 225);
	    padding-top:15px;
	    padding-bottom:15px;
	}
	#index-header-container{
	    margin-left:5%;
	    margin-right:5%;
	}
	#share-footer{
    	background-color:rgb(247,247,247);
    	border-top:1px solid rgb(225, 225, 225);
	}
	#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
		<h1>about</h1><hr>
    </div>
</div><br>
<div class="centered-width">
	<h3>the internet is learning</h3>
	<p class="lead">anyone can create an academy, any one can create a course, and anyone can learn</p>


	<p class="lead">the current education system is... filled with money.. for money.</p>
	<p class="lead">to make money, aka get a 'good' job, and to contribute, we have to go into debt..</p>
	<p class="lead">it's time to stop memorizing, to stop reguraitating, and to stop going to school simply for necessity.</p>
	<p class="lead">it's time to learn for the sake of learning, for the sake of evolution.</p>
	<p class="lead">education is a fundamental human right, and needs to be set free. we have the means, we must simply act on the will.</p>
	<p class="lead">free, crowd owned, voetr enabled, givingfor powered, transparent, learning platform</p>

	<iframe width="420" height="315" src="//www.youtube.com/embed/xR4ibUq9iVw" frameborder="0" allowfullscreen></iframe>
	<p class="lead">share and stuff</p>

	<hr>
	<p class="lead">lets do this</p>
</div>

<br><br><br><br>