{{extend 'layout.html'}}
<style>
    
    #contentwrapper{width: 100%;}               
    #content {}
    #right { 
        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
    }
    #left {
        float: left;
        width: 175px;
        border-right:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-bottom:15px;
    }
     
</style>
<div id="left">
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/certificates/">certificates</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/courses/">courses</a></p>

    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/members/">members</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/moderation/">moderation</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/pages/">pages</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/settings/">settings</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/styles/">styles</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/transparency/">transparency</a></p>
    <p class="lead"><a href="/academy/{{=academy_from_url[0]['url_title']}}/permissions/">user groups</a></p>
</div>
<div id="right">
    <button class="btn">+ new course</button><br>
	<button class="btn">+ new thread</button><br>

    <div class="academy-join" id="join-academy-{{=academy_from_url[0]['id']}}" style="float:left;margin-right:10px;">
        <form style="display:none"><input type="hidden" id="" name="join-{{=academy_from_url[0]['id']}}" value="{{=academy_from_url[0]['id']}}" /></form> 
        <a onclick="ajax('/ajax_join_academy/', ['join-{{=academy_from_url[0]['id']}}'], ':eval');">
        <h5 class="btn">join</h5>      
        </a>
    </div>

    <div id="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZWUTDEF3ECGRY">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        donation bar<br>
        givingfor<br>
        donation<br>

    </div>
</div>
<div id="contentwrapper">
    <div id="content" style="margin-left:5%;margin-right:5%;">
      
        <h3><a href="/academy/{{=academy_from_url[0]['url_title']}}">{{=academy_from_url[0]['title']}}</a></h3><hr>
        <p class="lead">{{=academy_from_url[0]['description']}}</p>

        <h3>courses</h3><hr>
        {{for course in academy_courses:}}
            <a href="/course/{{=course['url_title']}}">{{=course['title']}}</a><br>
        {{pass}}
        <h3>threads</h3><hr>
        {{for thread in academy_courses:}}
            <a href="/course/{{=thread['url_title']}}">{{=thread['title']}}</a><br>
        {{pass}}
        <br><br>
        {{for x in range(30):}}
            <p class="lead">feed item {{=x}}</p>
        {{pass}}

        {{for member in academy_member_list:}}
            <a>{{=member}}</a>
        {{pass}}

    </div>
</div>


<br><br><br><br>
