{{extend 'layout.html'}}
<style>
    
    #contentwrapper{
        
            //float: left;
            width: 100%;
            
    }    
                
    #content { 
    
            //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
             
    }
    
    #right { 
    
            float: right;
            width: 255px;
            border-left:1px solid rgb(238,238,238);
            border-bottom:1px solid rgb(238,238,238);
            padding-left:15px;
            padding-right:15px;
            padding-bottom:15px;
    
     
    }
    
    #left {
        
            float: left;
            width: 175px;
            border-right:1px solid rgb(238,238,238);
            border-bottom:1px solid rgb(238,238,238);
            padding-left:15px;
            padding-bottom:15px;
    
        
    }
     
    #index-header{
        background-color:rgb(247,247,247);
        border-bottom:1px solid rgb(225, 225, 225);
        padding-top:15px;
        padding-bottom:15px;
    }
    #index-header-container{
        margin-left:5%;
        margin-right:5%;
    }
    #share-footer{
        background-color:rgb(247,247,247);
        border-top:1px solid rgb(225, 225, 225);
    }
    #share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<script>
academies=[
{{for a in academy_list:}}
    '{{=a['title']}}'
    ,
{{pass}}
]
</script>
<div id="index-header">
    <div id="index-header-container">
        <h1>courses</h1>
    </div>
</div><br>
<div class="centered-width">
    <div id="left">
        {{for tag in course_tag_list:}}
            <a>{{=tag['tag']}}</a><br>
        {{pass}}
    </div>
    <div id="right">
        <button class="btn" data-toggle="modal" data-target="#newCourse">+ new course</button><br>
        {{for x in range(20):}}
            <p class="lead">promoted post</p>
        {{pass}}
    </div>
    <div id="contentwrapper">
        <div id="content">
          <a>sort via trending, member count</a>
            {{for course in course_list:}}
            	<h3><a href="/course/{{=course['url_title']}}/">{{=course['title']}}</a></h3>
            {{pass}}
              
        </div>
        <div style="clear:both;"></div>
    </div>
</div>



<!-- Modal -->
    <div class="modal fade" id="newCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">New Course</h4>
          </div>
          <div class="modal-body" style='height:500px'>

            <div class='result'></div>
            <label>Course Name</label>
            <input class='c_name' type='text' name='title' placeholder='Enter the Course Name'/>
            <label>Course Url Id</label>
            <input class='c_id' type='text' name='url_title' placeholder='Enter the Unique Course Url'/>
            <label>Academy</label>
            <input class='academy' type='text' placeholder='Enter the Academy'/>
            <label>Course Description</label>
            <textarea placeholder='Enter the Course Description' name='description'></textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

<script>
$(".academy").autocomplete({source:academies, appendTo:'.modal-body'});
$(".modal-footer .btn").click(function(){
    ajax('{{=URL('courses_post')}}', ['academy_id_array','url_title','title','description'],'.result')
    location.reload();
})
</script>





<br><br><br><br>

