{{extend 'layout.html'}}

<style type="text/css">
	#another-div{margin-left:3%;margin-right:3%;}
	#another-div-container{border-top:3px solid rgb(210,210,210);}
	#discover-div{margin-left:3%;margin-right:3%;}
	#discover-div-container{border-top:2px solid rgb(210,210,210);border-bottom:2px solid rgb(210,210,210);background-color:rgb(250,250,250);}
	#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
	}
	#index-header-container{
	    margin-left:5%;
	    margin-right:5%;
	}
	#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
	}
	#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
		<br><h1>the internet is learning</h1><hr>
    </div>
</div>
<br>
<div class="centered-width">
	<img style="width:500px;height:500px;" class="img-polaroid" src="/inlrn/static/images/noimage-icon.png"/>
	<br><hr><br>
	<p class="lead">what does that mean?</p>
	<p class="lead">it means that with the internet, the ability the learn, create, and spead knowledge is becoming much easier.</p>
	<p class="lead">anyone can become a teacher, anyone can choose to learn, and anyone can take advantage of this collaborative nature.</p>
	<p class="lead">this also means that evolution is possible, and that anyone can contribute back. it's time for a change in the way we look at business models.</p>
	<p class="lead">inlrn is a <a>crowd owned</a>, <a>opensource</a>, <a>transparent</a>, <a>givingfor supported</a>, <a>voetr enabled</a> learning platform.</p>
	<p class="lead">get <a>paid</a>? education is valuable.</p>
	<p style="text-align:center"><i style="font-size:256px;" class="fa fa-money fa-spin"></i></p>


<br><br>
</div>

<table style="margin: auto;">
	<tr>
		<td style="padding:10%;"><p class="lead">revaluating education</p></td>
		<td style="padding:10%;"><p class="lead">completly transparent</p></td>
		<td style="padding:10%;"><p class="lead">learning for everyone</p></td>
	</tr>
</table>
<br><br>

<div id="discover-div-container">
	<div id="discover-div">
		<br>
		<p>there are different types of classes</p>
		<p>earn certificates</p>
		<p>live feed classes, in person classes, on your own time classes</p>
		<p>PICTURE</p>
		<p class="btn">discover <i class="fa fa-random"></i></p>
		<br>
		<br>
	</div>
</div>


<br><br>

<div class="centered-width">
	<h4>trending</h4><hr><br>
	<table>
		<tr>
			{{for academy in academy_list:}}
				<td><h3><a href="/academy/{{=academy['url_title']}}/">{{=academy['title']}}</a></h3></td>
			{{pass}}
		</tr>
		<tr>
			{{for course in course_list:}}
				<td><h3><a href="/course/{{=course['url_title']}}/">{{=course['title']}}</a></h3></td>
			{{pass}}
		</tr>
		<tr>
			{{for thread in thread_list:}}
				<td><h3><a href="/thread/{{=thread['title']}}/">{{=thread['title']}}</a></h3></td>
			{{pass}}
		</tr>
	</table>

	<br><br>

	<div class="well">
		<h3><a href="/feed/">feed</a></h3>
	</div>
	<p class="lead">transparency</p>
	<p class="lead"><a href="/stats/">stats</a></p>
	<p class="lead">why do I go into debt to learn? that's backwards.</p>
	<p class="lead">valuating education, really.</p>
	<p class="lead">nonprofit</p>

	<br><br>


</div>
<div id="another-div-container">
	<div id="another-div">
		<br><br>
		<p class="lead">transparency is key</p>
		<p class="lead">teach a class, get paid</p>
		<p class="lead">take a class, get paid</p>
		<p class="lead">anyone can join or create an academy</p>
		<p class="lead">anyone can join or create a course</p>
		<br><br>
	</div>
</div>
<div id="share-footer">
    <div id="share-footer-container">
    	<div style="float:left;">
    		<h1>share</h1>
    		<p class="lead">facebook, twitter, lealr, google</p>
    	</div>
		<div style="float:right;">
		    <h1>get the app</h1>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/inlrn/static/images/app_store_icon.png" /></a>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/inlrn/static/images/android_marketplace_icon.png" /></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<br>
<br>
<br>