{{extend 'layout.html'}}

<style>

#contentwrapper{
	width: 100%;
}    
            
#content { 
    
}

#left {
    
	float: left;
	width: 235px;
	border-right:1px solid rgb(238,238,238);
	border-bottom:1px solid rgb(238,238,238);
	padding-left:15px;
	padding-bottom:15px;

    
}
.course_title{
    size: 20px;
    font-weight: bold;
}
.course_create{
    size: 20px;
    color: green;
}
.course_follow{
    size: 20px;
    color: red;
}
</style>


<script>

	$("#member-picture").modal('show');
	$("#user-likes").modal('show');
	$("#user-shares").modal('show');
	$("#user-collections").modal('show');
	$("#user-following").modal('show');
	$("#user-followers").modal('show');
	$("#collections-block-item").modal('show');
	$("#followers-block-item").modal('show');
	$("#following-block-item").modal('show');

	
</script>


{{if request.args(0) is None:}}

NONE

{{else:}}

<div id="left"><br><br>
    
    <div style="width:128px;margin-left:40px;margin-top:10px;">
		<a data-toggle="modal" href="#member-picture"><img src="/static/images/lealrlogo.png" class="img-polaroid"/></a>
    </div>
    <br><br>
    <hr style="margin-left:-15px;">

    <div id="info-block" style="margin-left:15px;margin-right:15px;">

        <div style="overflow: hidden;">
    		<div style="float: left;"><p>Likes</p></div>
            <div style="float: right;"><a data-toggle="modal" href="#user-likes">0</a></div>
		</div>
		<div style="overflow: hidden;">
    		<div style="float: left;"><p>Shares</p></div>
            <div style="float: right;"><a data-toggle="modal" href="#user-shares">0</a></div>
		</div>
           
    </div>
    
    <hr style="margin-left:-15px;"><br>
    
    <div id="courses-block" style="">
            
        <div style="overflow: hidden;">
    		<div style="float: left;"><h4>courses</h4></div>
            <div style="float: right;"><h4 style="margin-right:15px;"><a data-toggle="modal" href="#user-courses">{{=len(courses)}}</a></h4></div>
        </div><hr style="margin:0px;margin-left:-15px;"><br>
        
        <div id="courses-items-block">
        </div>
    </div>
    
    <br><br><br><br><br>
    
    <div id="following-block" style="">
            
        <div style="overflow: hidden;">
    		<div style="float: left;"><h4>following</h4></div>
            <div style="float: right;"><h4 style="margin-right:15px;"><a data-toggle="modal" href="#user-following">0</a></h4></div>
		</div><hr style="margin:0px;margin-left:-15px;"><br>
	<div id="following-items-block">

	</div>
      
    </div>
    
    <br><br>
    
    <div id="followers-block" style="">
    
		<div style="overflow: hidden;">
    		<div style="float: left;"><h4>followers</h4></div>
            <div style="float: right;"><h4 style="margin-right:15px;"><a data-toggle="modal" href="#user-followers">0</a></h4></div>
		</div><hr style="margin:0px;margin-left:-15px;"><br>
		
   

    </div>
       
</div>
<div id ="contentwrapper">
<div id="content">
    
    <div style="overflow: hidden;">
        <div style="float: left;margin-left:15px;"><h1>{{=username_from_url}}</h1></div>
		<p style="margin-left:15px;">online info</p>

    	
        {{if auth.is_logged_in():}}
            {{if auth.user.username == username_from_url:}} 
            	this is yer account!!!!
                                         
            {{else:}}
                not yer account!!!
               
            {{pass}}
        {{pass}}

	</div>
	
    <div>      
      
		<!--your most recent post or share on your profile is your status-->
        <p class="lead" style="margin-left:30px;">status</p>
		<hr>
		<br>
    </div>
    


    <ul class="nav nav-tabs" id="profile-tab" data-tabs="tabs" style="padding-left:15px">
        <li class="active"><a href="#user-feed" data-toggle="tab">feed</a></li>
        <li><a href="#user-content" data-toggle="tab">content</a></li>
        <li><a href="#user-info" data-toggle="tab">info</a></li>
	</ul>
 
    <div class="tab-content" style="margin-left:30px;">
    <div class="tab-pane active" id="user-feed">
    
    	<!--if permission to post on feed-->
           
        <div id="input-options" style="background-color:rgb(220,220,220);">
            <div class="dropdown" style="float:left;margin-right:10px;">
                <a data-toggle="modal" href="#format-editor-modal" onclick="selection()">format</a>
            </div>
            <div style="float:left;margin-right:10px;">  
                <a class="" data-toggle="modal" href="#insert-editor-modal">insert</a>                          
            </div>
            <div class="dropdown" style="float:left;margin-right:10px;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">view<b style="margin-right:5px;"class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a onclick="set_editor_view('ShowBlocks')">blocks</a></li>
					<li><a onclick="set_editor_view('Maximize')">fullscreen</a></li>
                    <li><a onclick="set_editor_view('Source')">source</a></li>
                </ul>
            </div>
        </div>
        <br>
        
       

    	<!--pass-->
            
        <div id="member-feed">
            <div style="float:left;" id="member-feed-inside">
                <ul> 

      
                </ul>
            
            </div>      
            
        </div>
        
    </div>
    
    <div class="tab-pane" id="user-content">
    <div style="margin-left:15px;" id="user-content-content">

    
    <ul class="nav nav-tabs" id="user-content-tab" data-tabs="tabs">
        <li class="active"><a href="#user-collections" data-toggle="tab">collections</a></li>
        <li><a href="#user-threads" data-toggle="tab">threads</a></li>
        <li><a href="#user-comments" data-toggle="tab">comments</a></li>
	</ul>
    
    <div class="tab-content">
    	<div class="tab-pane active" id="user-collections">collections</div>
    	<div class="tab-pane" id="user-threads">
    	
            <div style="float:left;" id="thread-tag-list-{{=request.args(0)}}">
                <h4>tags</h4>
                <br>{{for x in range(50):}}
                	{{=x}}<br>
                {{pass}}
            
            </div>      
                
            
    	
    	</div>
    	<div class="tab-pane" id="user-comments">comments</div>

    </div>
        
        <a>Sort</a>
        
        {{user_content_array=[1,2,3,4,5,6,7,8,9,10]}}
        {{for content in user_content_array:}}
    
        	{{=content}}
    
        {{pass}}    
    
    </div>
    
    
    </div>
    <div class="tab-pane" id="user-info">
        <div style="margin-left:15px;" id="user-info-content">
        
        <h1>Info</h1><hr>
        
            <h4>Info-Title</h4>
            <h4>Info-Description</h4>

            
    
    
		{{user_info_array=[1,2,3,4,5,6,7,8,9,10]}}
        {{for info in user_info_array:}}
    
        	{{=info}}
    
        {{pass}}    
        
    </div>
    
    
    </div>
</div>
</div>



<div class="modal fade" id="member-picture" style="display:none;">
            
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{=username_from_url}}'s Pictures</h3>
    </div>
    <div class="modal-body">
        {{if session.auth is None:}}
        	not logged in yo
		{{elif auth.user.username == username_from_url:}}
        	<p>edit thumbnail</p><br>    
        {{else:}}
        	logged in and not ur account
        {{pass}}
    </div>
    <div class="modal-footer">
        footer
    </div>
            
</div>


<div class="modal fade" id="user-following" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Following</h3>
    </div>
    <div class="modal-body">
		Users following
    </div>
    <div class="modal-footer">
        footer
    </div>
            
</div>

<div class="modal fade" id="user-followers" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{=request.args(0)}}'s Followers</h3>
    </div>
    <div class="modal-body">
		Following Users
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>

<div class="modal fade" id="collections-block-item" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Collection</h3>
    </div>
    <div class="modal-body">
		Collection
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>

<div class="modal fade" id="followers-block-item" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Followers</h3>
    </div>
    <div class="modal-body">
		followers
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>

<div class="modal fade" id="following-block-item" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Following</h3>
    </div>
    <div class="modal-body">
		following         
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>

    {{if request.args(1) is None:}}   
    {{elif request.args(1) == 'feed':}}
    {{elif request.args(1) == 'content':}}
    {{elif request.args(1) == 'info':}}   
    {{pass}}

{{pass}}
