{{extend 'layout.html'}}
<style>
	#index-header{
	    background-color:rgb(247,247,247);
	    border-bottom:1px solid rgb(225, 225, 225);
	    padding-top:15px;
	    padding-bottom:15px;
	}
	#index-header-container{
	    margin-left:5%;
	    margin-right:5%;
	}
	#share-footer{
    	background-color:rgb(247,247,247);
    	border-top:1px solid rgb(225, 225, 225);
	}
	#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
		<h1>mission</h1><hr>
    </div>
</div>
<p class="lead">inlrn strives to free education</p>
<p class="lead">to generate value for us all</p>


<p class="lead">education is a right with immense power transform</p>



<p class="lead">now is the time</p>
<p class="lead">free, open source, transparent, crowd owned</p>
